body{
  background-color: #ddd;
}
.itemSliderMAIN{
  height: 30vh;
  background-color: black;
  opacity: 0.5;
  color: #fff;
  display: flex!important;
  align-items: center;
  justify-content: center;
}
.sliderParent{
  width: 50vw!important;
  

margin: auto;
/* background-color: cyan; */
}